body {
  display: flex;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
}

.wrapper {
  max-width: 650px;
}

.input-group {
  margin: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#code_input {
  width: 650px;
  height: 300px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  word-break: break-all;
}

button {
  width: 180px;
}

#output {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}
